<div class="comment">
	<img class="comment-avatar" src="https://www.gravatar.com/avatar/{{include.comment.email}}" alt="Avatar for {{include.name}}"/>
  <div class="comment-content">
    <span class="comment-name">{{ include.comment.name }}</span>
    <span class="comment-date">Posted on: <script type="text/javascript">
      var options = {
        year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', second: '2-digit', hour12: true
      };
      var date = new Date('{{include.comment.date}}');
      document.write(new Intl.DateTimeFormat('en-US', options).format(date));
    </script></span>
    <span class="comment-message">{{ include.comment.message }}</span>
  </div>
</div>