<div class="comment-form">
    <script src="/assets/js/comment-form.js" type="text/javascript" async=""></script>
    <button type="button" onclick="ToggleCommentForm();">Leave a comment</button>
    <div class="slider">
        <form id="leave-comment"
              method="POST"
              action="https://api.staticman.net/v2/entry/drakmyth/drakmyth.github.io/feature%2Fpost-comments/comments"
              onsubmit="return OnCommentSubmit(this);"
              autocomplete="on">
            <input name="options[postfile]" type="hidden" value="{{ page.date | date:"%Y-%m-%d" }}-{{ page.slug }}">
            <label>Name<input name="fields[name]" type="text" autocomplete="on" required=""></label>
            <label>Email<input name="fields[email]" type="email" autocomplete="on" required=""></label>
            <label>Message<textarea name="fields[message]" autocomplete="off" required=""></textarea></label>
            <button type="submit">Go!</button>
        </form>
    </div>
</div>