---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
    <!-- Post -->
	<article class="shade-two">
        <div class="container">
            <header>
                <h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
            {{- content -}}
        </div>
        <footer class="container">
            <span>Categories
                {% for category in page.categories %}
                <a href="{% link archive.md %}#{{ category }}">{{ category }}</a>
                {% endfor %}
            </span>
        </footer>
        <section class="container">
            <a name="comments"></a>
            {% include comment-form.html %}
            <div class="comment-thanks hidden"></div>
            {%- capture pagefile -%}
            {{ page.date | date:"%Y-%m-%d" | append: "-" | append: page.slug }}
            {%- endcapture -%}
            {% assign comments = '' | split: '' %}
            {% assign commentFiles = site.data.comments[pagefile] %}
            {% for file in commentFiles %}
                {% assign comments = comments | push:file.last %}
            {% endfor %}
            {% assign comments = comments | sort:'date' | reverse %}
            {% for commentData in comments %}
                {% include comment.html comment=commentData %}
            {% endfor %}
        </section>
    </article>
</div>