---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
    <!-- Post -->
	<article class="shade-two">
        <div class="container">
            <header>
                <h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
            {{- content -}}
        </div>
        <footer class="container">
            <span>Categories {% for category in page.categories %}
                <a href="{% link archive.md %}#{{ category }}">{{ category }}</a>
                {% endfor %}
            </span>
        </footer>
        <section class="container">
            {% include comment-form.html %}
            {% assign comments = site.data.comments | sort %}
	        {% for comment in comments reversed %}
		        {% assign commentData = comment[1] %}
                {% include comment.html name=commentData.name email=commentData.email message=commentData.message  %}
            {% endfor %}
        </section>
    </article>
</div>